[submodule "omgbot"]
	path = omgbot
	url = git@github.com:OrderMyGear/omgbot
[submodule "staging-cluster"]
	path = staging-cluster
	url = git@github.com:OrderMyGear/staging-cluster
[submodule "prod-cluster"]
	path = prod-cluster
	url = git@github.com:OrderMyGear/prod-cluster
[submodule "storefront-app"]
	path = storefront-app
	url = git@github.com:OrderMyGear/storefront-app
[submodule "teamdealeronline"]
	path = teamdealeronline
	url = git@github.com:OrderMyGear/teamdealeronline
[submodule "omg-infrastructure"]
	path = omg-infrastructure
	url = git@github.com:OrderMyGear/omg-infrastructure
[submodule "jenkins-jobs"]
	path = jenkins-jobs
	url = git@github.com:OrderMyGear/jenkins-jobs
[submodule "user-service"]
	path = user-service
	url = git@github.com:OrderMyGear/user-service
[submodule "dev-cluster"]
	path = dev-cluster
	url = git@github.com:OrderMyGear/dev-cluster
[submodule "locust"]
	path = locust
	url = git@github.com:OrderMyGear/locust
[submodule "job-service"]
	path = job-service
	url = git@github.com:OrderMyGear/job-service
[submodule "search-indexer"]
	path = search-indexer
	url = git@github.com:OrderMyGear/search-indexer
[submodule "product-importer"]
	path = product-importer
	url = git@github.com:OrderMyGear/product-importer
[submodule "order-exporter"]
	path = order-exporter
	url = git@github.com:OrderMyGear/order-exporter
[submodule "applepay-verifier"]
	path = applepay-verifier
	url = git@github.com:OrderMyGear/applepay-verifier
[submodule "accounting-ui"]
	path = accounting-ui
	url = git@github.com:OrderMyGear/accounting-ui
[submodule "store-app"]
	path = store-app
	url = git@github.com:OrderMyGear/store-app
[submodule "json-api"]
	path = json-api
	url = git@github.com:OrderMyGear/json-api
[submodule "tdo-go"]
	path = tdo-go
	url = git@github.com:OrderMyGear/tdo-go
[submodule "stripe-reporting"]
	path = stripe-reporting
	url = git@github.com:OrderMyGear/stripe-reporting
[submodule "custom-domains-service"]
	path = custom-domains-service
	url = git@github.com:OrderMyGear/custom-domains-service
[submodule "orders-ui"]
	path = orders-ui
	url = git@github.com:OrderMyGear/orders-ui
[submodule "receipt-generator"]
	path = receipt-generator
	url = git@github.com:OrderMyGear/receipt-generator
[submodule "packing-slips-builder"]
	path = packing-slips-builder
	url = git@github.com:OrderMyGear/packing-slips-builder
[submodule "catalog-builder"]
	path = catalog-builder
	url = git@github.com:OrderMyGear/catalog-builder
[submodule "looker"]
	path = looker
	url = git@github.com:OrderMyGear/looker
[submodule "payment-service"]
	path = payment-service
	url = git@github.com:OrderMyGear/payment-service
[submodule "branding-service"]
	path = branding-service
	url = git@github.com:OrderMyGear/branding-service
[submodule "analytics-app"]
	path = analytics-app
	url = git@github.com:OrderMyGear/analytics-app
[submodule "store-manager"]
	path = store-manager
	url = git@github.com:OrderMyGear/store-manager
[submodule "integrations-app"]
	path = integrations-app
	url = git@github.com:OrderMyGear/integrations-app
[submodule "login-app"]
	path = login-app
	url = git@github.com:OrderMyGear/login-app
[submodule "product-browser"]
	path = product-browser
	url = git@github.com:OrderMyGear/product-browser
[submodule "product-manager"]
	path = product-manager
	url = git@github.com:OrderMyGear/product-manager
[submodule "orders-app"]
	path = orders-app
	url = git@github.com:OrderMyGear/orders-app
[submodule "tdo-nav-service"]
	path = tdo-nav-service
	url = git@github.com:OrderMyGear/tdo-nav-service
[submodule "integration-service"]
	path = integration-service
	url = git@github.com:OrderMyGear/integration-service
[submodule "assetly"]
	path = assetly
	url = git@github.com:OrderMyGear/assetly
[submodule "order-export-service"]
	path = order-export-service
	url = git@github.com:OrderMyGear/order-export-service
[submodule "reporting"]
	path = reporting
	url = git@github.com:OrderMyGear/reporting
[submodule "ui-framework"]
	path = ui-framework
	url = git@github.com:OrderMyGear/ui-framework
[submodule "docker-images"]
	path = docker-images
	url = git@github.com:OrderMyGear/docker-images
[submodule "mailer"]
	path = mailer
	url = git@github.com:OrderMyGear/mailer
[submodule "store-request"]
	path = store-request
	url = git@github.com:OrderMyGear/store-request
[submodule "zengear"]
	path = zengear
	url = git@github.com:OrderMyGear/zengear
[submodule "work-order-generator"]
	path = work-order-generator
	url = git@github.com:OrderMyGear/work-order-generator
[submodule "stripe-webhooks-listener"]
	path = stripe-webhooks-listener
	url = git@github.com:OrderMyGear/stripe-webhooks-listener
[submodule "slack-webhook"]
	path = slack-webhook
	url = git@github.com:OrderMyGear/slack-webhook
[submodule "shipping-service"]
	path = shipping-service
	url = git@github.com:OrderMyGear/shipping-service
[submodule "share-service"]
	path = share-service
	url = git@github.com:OrderMyGear/share-service
[submodule "product-service"]
	path = product-service
	url = git@github.com:OrderMyGear/product-service
[submodule "pdf-service"]
	path = pdf-service
	url = git@github.com:OrderMyGear/pdf-service
[submodule "organization-service"]
	path = organization-service
	url = git@github.com:OrderMyGear/organization-service
[submodule "nsq-publisher"]
	path = nsq-publisher
	url = git@github.com:OrderMyGear/nsq-publisher
[submodule "marketing-notifier"]
	path = marketing-notifier
	url = git@github.com:OrderMyGear/marketing-notifier
[submodule "inventory-service"]
	path = inventory-service
	url = git@github.com:OrderMyGear/inventory-service
[submodule "external-search-api"]
	path = external-search-api
	url = git@github.com:OrderMyGear/external-search-api
[submodule "catalog-service"]
	path = catalog-service
	url = git@github.com:OrderMyGear/catalog-service
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:OrderMyGear/api-gateway
[submodule "analytics-service"]
	path = analytics-service
	url = git@github.com:OrderMyGear/analytics-service
[submodule "go-service-template"]
	path = go-service-template
	url = git@github.com:OrderMyGear/go-service-template
[submodule "salesforce-api"]
	path = salesforce-api
	url = git@github.com:OrderMyGear/salesforce-api
[submodule "pusher"]
	path = pusher
	url = git@github.com:OrderMyGear/pusher
[submodule "order-processor"]
	path = order-processor
	url = git@github.com:OrderMyGear/order-processor
[submodule "metrics"]
	path = metrics
	url = git@github.com:OrderMyGear/metrics
[submodule "tax-service"]
	path = tax-service
	url = git@github.com:OrderMyGear/tax-service
[submodule "sanmar-requester"]
	path = sanmar-requester
	url = git@github.com:OrderMyGear/sanmar-requester
[submodule "product-loader"]
	path = product-loader
	url = git@github.com:OrderMyGear/product-loader
[submodule "common-js"]
	path = common-js
	url = git@github.com:OrderMyGear/common-js
[submodule "common-ui"]
	path = common-ui
	url = git@github.com:OrderMyGear/common-ui
[submodule "payment-dashboard-app"]
	path = payment-dashboard-app
	url = git@github.com:OrderMyGear/payment-dashboard-app
[submodule "airflow-dags"]
	path = airflow-dags
	url = git@github.com:OrderMyGear/airflow-dags
[submodule "qata-scripts"]
	path = qata-scripts
	url = git@github.com:OrderMyGear/qata-scripts
[submodule "homebrew-tap"]
	path = homebrew-tap
	url = git@github.com:OrderMyGear/homebrew-tap
[submodule "omgctl"]
	path = omgctl
	url = git@github.com:OrderMyGear/omgctl
[submodule "common-go"]
	path = common-go
	url = git@github.com:OrderMyGear/common-go
[submodule "singer-el"]
	path = singer-el
	url = git@github.com:OrderMyGear/singer-el
[submodule "suzerain"]
	path = suzerain
	url = git@github.com:OrderMyGear/suzerain
[submodule "group-portal"]
	path = group-portal
	url = git@github.com:OrderMyGear/group-portal
[submodule "elasticsearch-service"]
	path = elasticsearch-service
	url = git@github.com:OrderMyGear/elasticsearch-service
[submodule "catalog-store"]
	path = catalog-store
	url = git@github.com:OrderMyGear/catalog-store
[submodule "theme-service"]
	path = theme-service
	url = git@github.com:OrderMyGear/theme-service
[submodule "store-service"]
	path = store-service
	url = git@github.com:OrderMyGear/store-service
[submodule "product-loader-ui"]
	path = product-loader-ui
	url = git@github.com:OrderMyGear/product-loader-ui
[submodule "order-tracker"]
	path = order-tracker
	url = git@github.com:OrderMyGear/order-tracker
[submodule "quickbooks-go"]
	path = quickbooks-go
	url = git@github.com:OrderMyGear/quickbooks-go
[submodule "data-seeding"]
	path = data-seeding
	url = git@github.com:OrderMyGear/data-seeding
[submodule "mailer-webhook"]
	path = mailer-webhook
	url = git@github.com:OrderMyGear/mailer-webhook
[submodule "headless-ui-test"]
	path = headless-ui-test
	url = git@github.com:OrderMyGear/headless-ui-test
[submodule "ui-scripts"]
	path = ui-scripts
	url = git@github.com:OrderMyGear/ui-scripts
[submodule "gulp-tasks"]
	path = gulp-tasks
	url = git@github.com:OrderMyGear/gulp-tasks
[submodule "email-templates"]
	path = email-templates
	url = git@github.com:OrderMyGear/email-templates
[submodule "optimal-store-ml"]
	path = optimal-store-ml
	url = git@github.com:OrderMyGear/optimal-store-ml
[submodule "user-app"]
	path = user-app
	url = git@github.com:OrderMyGear/user-app
[submodule "dd-trace-php"]
	path = dd-trace-php
	url = git@github.com:OrderMyGear/dd-trace-php
[submodule "storefront-nextjs-poc"]
	path = storefront-nextjs-poc
	url = git@github.com:OrderMyGear/storefront-nextjs-poc
[submodule "omg-mobile"]
	path = omg-mobile
	url = git@github.com:OrderMyGear/omg-mobile
[submodule "locust-kube"]
	path = locust-kube
	url = git@github.com:OrderMyGear/locust-kube
[submodule "node-omg-session"]
	path = node-omg-session
	url = git@github.com:OrderMyGear/node-omg-session
[submodule "gearflow"]
	path = gearflow
	url = git@github.com:OrderMyGear/gearflow
[submodule "scrapemygear"]
	path = scrapemygear
	url = git@github.com:OrderMyGear/scrapemygear
[submodule "product-loader-config"]
	path = product-loader-config
	url = git@github.com:OrderMyGear/product-loader-config
[submodule "organization"]
	path = organization
	url = git@github.com:OrderMyGear/organization
[submodule "cloud-dataflow"]
	path = cloud-dataflow
	url = git@github.com:OrderMyGear/cloud-dataflow
[submodule "maintenance-pages"]
	path = maintenance-pages
	url = git@github.com:OrderMyGear/maintenance-pages
[submodule "opsgenie-integration"]
	path = opsgenie-integration
	url = git@github.com:OrderMyGear/opsgenie-integration
[submodule "looker-actions"]
	path = looker-actions
	url = git@github.com:OrderMyGear/looker-actions
[submodule "jupyter_data_analysis"]
	path = jupyter_data_analysis
	url = git@github.com:OrderMyGear/jupyter_data_analysis
[submodule "bimg"]
	path = bimg
	url = git@github.com:OrderMyGear/bimg
[submodule "google-cloud-go"]
	path = google-cloud-go
	url = git@github.com:OrderMyGear/google-cloud-go
[submodule "Propel"]
	path = Propel
	url = git@github.com:OrderMyGear/Propel
[submodule "assetly-shot"]
	path = assetly-shot
	url = git@github.com:OrderMyGear/assetly-shot
[submodule "tap-clubhouse"]
	path = tap-clubhouse
	url = git@github.com:OrderMyGear/tap-clubhouse
[submodule "node-client"]
	path = node-client
	url = git@github.com:OrderMyGear/node-client
[submodule "libvips"]
	path = libvips
	url = git@github.com:OrderMyGear/libvips
[submodule "golangci-lint"]
	path = golangci-lint
	url = git@github.com:OrderMyGear/golangci-lint
[submodule "target-bigquery"]
	path = target-bigquery
	url = git@github.com:OrderMyGear/target-bigquery
[submodule "singer-python"]
	path = singer-python
	url = git@github.com:OrderMyGear/singer-python
[submodule "target-stitch"]
	path = target-stitch
	url = git@github.com:OrderMyGear/target-stitch
[submodule "common-ts"]
	path = common-ts
	url = git@github.com:OrderMyGear/common-ts
[submodule "node-jsonapi-client"]
	path = node-jsonapi-client
	url = git@github.com:OrderMyGear/node-jsonapi-client
[submodule "GenSON"]
	path = GenSON
	url = git@github.com:OrderMyGear/GenSON
[submodule "request-generator"]
	path = request-generator
	url = git@github.com:OrderMyGear/request-generator
[submodule "go-shippo"]
	path = go-shippo
	url = git@github.com:OrderMyGear/go-shippo
[submodule "swagstation-ios"]
	path = swagstation-ios
	url = git@github.com:OrderMyGear/swagstation-ios
[submodule "ordermygear.github.io"]
	path = ordermygear.github.io
	url = git@github.com:OrderMyGear/ordermygear.github.io
[submodule "datablocks-exchangerate"]
	path = datablocks-exchangerate
	url = git@github.com:OrderMyGear/datablocks-exchangerate
[submodule "gochimp3"]
	path = gochimp3
	url = git@github.com:OrderMyGear/gochimp3
[submodule "job-dsl-gradle-example"]
	path = job-dsl-gradle-example
	url = git@github.com:OrderMyGear/job-dsl-gradle-example
[submodule "cluster"]
	path = cluster
	url = git@github.com:OrderMyGear/cluster
[submodule "charts"]
	path = charts
	url = git@github.com:OrderMyGear/charts
[submodule "oauth2_proxy"]
	path = oauth2_proxy
	url = git@github.com:OrderMyGear/oauth2_proxy
[submodule "integrations-core"]
	path = integrations-core
	url = git@github.com:OrderMyGear/integrations-core
[submodule "datadog-checks"]
	path = datadog-checks
	url = git@github.com:OrderMyGear/datadog-checks
[submodule "datadog-tracer-js"]
	path = datadog-tracer-js
	url = git@github.com:OrderMyGear/datadog-tracer-js
[submodule "searchkit"]
	path = searchkit
	url = git@github.com:OrderMyGear/searchkit
[submodule "node-looker-api"]
	path = node-looker-api
	url = git@github.com:OrderMyGear/node-looker-api
[submodule "fabric.js"]
	path = fabric.js
	url = git@github.com:OrderMyGear/fabric.js
[submodule "osx-config-check"]
	path = osx-config-check
	url = git@github.com:OrderMyGear/osx-config-check
[submodule "rd3"]
	path = rd3
	url = git@github.com:OrderMyGear/rd3
[submodule "react-simple-colorpicker"]
	path = react-simple-colorpicker
	url = git@github.com:OrderMyGear/react-simple-colorpicker
[submodule "react-contenteditable"]
	path = react-contenteditable
	url = git@github.com:OrderMyGear/react-contenteditable
[submodule "nodemon"]
	path = nodemon
	url = git@github.com:OrderMyGear/nodemon
[submodule "js-xlsx"]
	path = js-xlsx
	url = git@github.com:OrderMyGear/js-xlsx
[submodule "zendesk"]
	path = zendesk
	url = git@github.com:OrderMyGear/zendesk
[submodule "react-select"]
	path = react-select
	url = git@github.com:OrderMyGear/react-select
[submodule "nestedSortable"]
	path = nestedSortable
	url = git@github.com:OrderMyGear/nestedSortable
[submodule "taxjar-go"]
	path = taxjar-go
	url = git@github.com:OrderMyGear/taxjar-go
[submodule "symfony1"]
	path = symfony1
	url = git@github.com:OrderMyGear/symfony1
